* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
.aparece{
    display: none;
    
}

.clouds {
    width: 450px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#68acc7, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;

}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;

}

.jump {
    animation: jump 800ms ease-in-out;
}

@keyframes jump {
    0% {
        bottom: 0;

    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds-animation {
    from {
        right: -450px;
    }

    to {
        right: 100%;
    }

}

.rodape {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: rgb(145, 140, 140);
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.msg {
    text-align: center;
    font-family: sans-serif;
    font-size: 33px;

}

.score {
    font-size: 35px;

}

.pai-pular {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.pular {
    width: 99%;
    height: 120px;
    cursor: pointer;
    font-size: 30px;
    background-color: rgba(53, 106, 119, 0.466);
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.315);
}

.pular:active {
    background-color: rgb(53, 106, 119);
    color: rgb(255, 255, 255);
}

.pai-restart {
    display: flex;
    justify-content: center;

}

.restart {
    width: 50%;
    height: 120px;
    font-size: 30px;
    cursor: pointer;
    background-color: red;
    border-radius: 8px;
}

@media screen and (max-width: 900px) {
    .game-board, .pular{
        display: none;
    }
    .aparece{
        display: block;
        font-size: 20px;
        text-align: center;
    }

}